<h1>Recipe Book</h1>

<p>Recipe List</p>

<div class="list-group">
  <% @recipes.each do |recipe| %>
  <a href="/recipes/<%= recipe.id() %>" class="list-group-item"><%= recipe.name %></a>
  <% end %>
</div>

<p>Add recipe:</p>

<div class="form-group">
<form action='/recipes' method='post'>

  <label for='name'>Recipe Name</label>
  <input id='name' name='name' type='text' class="form-control">

  <label for='ingredients'>ingredients</label>
  <input id='ingredients' name='ingredients' type='text' class="form-control">

  <label for='instructions'>Instructions</label>
  <input id='instructions' name='instructions' type='text' class="form-control">
  <br>

  <button type="submit" class="btn btn-success">Add</button>
</form>
</div>

<form method="post" action="/">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
